/* css usato per settaggi del blocco solo in fase di edit */



.FM-blocks-adv-query-pagination .prev, .FM-blocks-adv-query-pagination .next {
    position: initial;
	color: unset;
}

.FM-blocks-adv-query-pagination .prev:hover, .FM-blocks-adv-query-pagination .next:hover {
	background-color: unset;
}

.FM-blocks-adv-query-pagination .current{
	font-weight: 700;
}



